<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= t('.title') %></h1>
      <%= link_to t(".new"), new_my_client_path, class: 'btn' %>
      <table class="table">
        <thead>
          <th>Client ID</th>
          <th>Name</th>
          <th>Redirect URIs</th>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.to_param %></td>
            <td><%= client.name %></td>
            <td><%= client.redirect_uris.join(',') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
