<div class="container">
  <div class="columns">
    <div class="column content">
      <h1><%= t('.title') %></h1>
      <%= link_to t(".new"), new_my_client_path, class: 'button is-link' %>
      <table class="table is-bordered is-narrow is-hoverable is-striped is-fullwidth">
        <thead>
          <th><%= t('.client_id') %></th>
          <th><%= t('.name') %></th>
          <th><%= t('.redirect_uris') %></th>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= client.to_param %></td>
            <td><%= client.name %></td>
            <td><%= client.redirect_uris.join(',') %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
