<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <h1 class="title"><%= t('.title') %></h1>

      <div data-controller="clients--new">
        <%= form_for @client, url: my_clients_path, method: :post do |form| %>
          <div class="field">
            <%= form.label :name %>
            <div class="control">
              <%= form.text_field :name, class: 'input', data: { target: 'clients--new.name' } %>
            </div>
          </div>
          <div class="field">
            <%= form.label :redirect_uris %>
            <div class="control">
              <%= form.url_field :redirect_uris, class: 'input', data: { target: 'clients--new.redirect_uris' }, multiple: true %>
            </div>
          </div>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <%= form.submit t(".enable"), class: 'button is-primary', data: { disable_with: 'Saving…' } %>
            </div>
            <div class="control">
              <%= link_to t(".cancel"), my_clients_path, class: 'button' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
