<div class="container">
  <div class="row">
    <div class="col">
      <h1>Client</h1>
      <div data-controller="clients--new">
        <p>Client Id: <%= @client.to_param %></p>
        <p>Secret: <%= @client.password %></p>

        <%= form_for @client, url: my_clients_path, method: :post do |form| %>
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, data: { target: 'clients--new.name' } %>
          </div>
          <div class="form-group">
            <%= form.label :redirect_uris %>
            <%= form.url_field :redirect_uris, data: { target: 'clients--new.redirect_uris' } %>
          </div>
          <%= form.submit t(".enable"), class: 'btn btn-primary', data: { disable_with: 'Saving…' } %>
          <%= link_to t(".cancel"), my_clients_path, class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
