<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to my_dashboard_path, class: 'navbar-item' do %>
      <img src="<%= asset_pack_path("images/logo.png") %>" height="28" />
    <% end %>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navigation-bar">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id='navigation-bar' class="navbar-menu">
    <div class="navbar-start">
      <%= link_to t(".home"), my_dashboard_path, class: 'navbar-item' %>
      <%= link_to t(".documentation"), '/doc/', class: 'navbar-item' %>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link"> <%= t('.more') %> </a>
        <div class="navbar-dropdown">
          <%= link_to t(".clients"), my_clients_path, class: 'navbar-item' %>
          <%= link_to t(".mfa"), my_mfa_path, class: 'navbar-item' %>
          <%= link_to t(".sessions"), my_sessions_path, class: 'navbar-item' %>
          <%= link_to t(".audits"), my_audits_path, class: 'navbar-item' %>
          <hr class="navbar-divider" />
          <a class="navbar-item" href="https://github.com/saml-kit/proof/issues/new" target="_blank"><%= t('.report_an_issue') %></a>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= button_to t(".logout"), session_path, method: :delete, class: 'button is-danger' %>
        </div>
      </div>
    </div>
  </div>
</nav>
