<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <h1 class="title"><%= t('.title') %></h1>

      <%= form_for :mfa, url: mfa_path, method: :post do |form| %>
        <div class="field">
          <%= form.label :code %>
          <div class="control">
            <%= form.number_field :code, class: 'input', autofocus: true, required: :required %>
          </div>
        </div>
        <div class="field">
          <div class="control is-pulled-right">
            <%= form.button t('.login'), type: 'submit', class: 'button is-primary', data: { disable_with: t('loading') } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
