<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= audit.auditable_type.constantize.model_name.human %></strong> <small><%= audit.action %></small> <small><%= local_time_ago(audit.created_at) %></small>
          by <%= audit.user&.email %> from  <%= audit.remote_address %> (version <%= audit.version %>)
        </p>
        <table class="table is-bordered is-narrow is-hoverable is-striped is-fullwidth">
          <thead>
            <th><%= t('.attribute') %></th>
            <th><%= t('.old') %></th>
            <th><%= t('.new') %></th>
          </thead>
          <tbody>
            <% audit.audited_changes.each do |(key, value)| %>
            <tr>
              <td><%= audit.auditable_type.constantize.human_attribute_name(key) %></td>
              <td><%= value.is_a?(Array) ? value[0] : nil %></td>
              <td><%= value.is_a?(Array) ? value[1] : value %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>
