<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= t('.title') %></h1>
      <table class="table">
        <thead>
          <th><%= t('.action') %></th>
          <th><%= t('.auditable') %></th>
          <th><%= t('.changes') %></th>
          <th><%= t('.associated') %></th>
          <th><%= t('.user') %></th>
          <th><%= t('.version') %></th>
          <th><%= t('.remote_address') %></th>
          <th><%= t('.created_at') %></th>
        </thead>
        <tbody>
        <% @audits.each do |audit| %>
          <tr>
            <td><%= audit.action %></td>
            <td><%= audit&.auditable&.class %></td>
            <td><%= audit.audited_changes %></td>
            <td><%= audit.associated&.flipper_id %></td>
            <td><%= audit.user&.email %></td>
            <td><%= audit.version %></td>
            <td><%= audit.remote_address %></td>
            <td><%= local_time_ago(audit.created_at) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
