<div class="container">
  <div class="columns is-centered">
    <div class="column is-two-thirds">
      <h1 class="title"><%= t('.title') %></h1>

      <div data-controller="mfa--setup">
        <canvas id="canvas" data-target="mfa--setup.canvas"></canvas>
        <p><%= t('.secret') %> <%= current_user.mfa.secret %></p>
        <p><%= t('.provisioning_uri') %> <%= current_user.mfa.provisioning_uri %></p>

        <%= form_for current_user, url: my_mfa_path, method: :delete do |form| %>
          <%= form.hidden_field :mfa_secret, data: { target: 'mfa--setup.secret' } %>
          <div class="field is-grouped is-grouped-right">
            <div class="control">
              <%= form.submit "Disable", class: 'button is-danger', data: { disable_with: 'Saving…' } %>
            </div>
            <div class="control">
              <%= link_to "Cancel", my_dashboard_path, class: 'button is-text' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
