<div class="container">
  <div class="row">
    <div class="col">
      <h1>Multi Factor Authentication - Setup</h1>
      <div data-controller="mfa--setup">
        <canvas id="canvas" data-target="mfa--setup.canvas"></canvas>
        <p>Secret: <%= current_user.mfa.secret %></p>
        <p>Provisioning URI: <%= current_user.mfa.provisioning_uri %></p>

        <%= form_for current_user, url: my_mfa_path, method: :post do |form| %>
          <%= form.hidden_field :mfa_secret, data: { target: 'mfa--setup.secret' } %>
          <%= form.submit t(".enable"), class: 'btn btn-primary', data: { disable_with: 'Saving…' } %>
          <%= link_to t(".cancel"), my_dashboard_path, class: 'btn' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
