<div class="container">
  <div class="columns is-centered">
    <div class="column is-half content">
      <h1><%= t('.title') %></h1>

      <%= form_for @user, url: registrations_path, method: :post do |form| %>
        <div class="field">
          <%= form.label :email %>
          <div class="control">
            <%= form.email_field :email, class: 'input', autofocus: true, required: :required %>
          </div>
        </div>
        <div class="field">
          <%= form.label :password %>
          <div class="control">
            <%= form.password_field :password, class: 'input', required: :required %>
          </div>
        </div>
        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <%= form.button t('.register'), type: 'submit', class: 'button is-primary', data: { disable_with: t('loading') } %>
          </div>
          <div class="control">
            <%= link_to t(".login"), new_session_path, class: 'button is-text' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
