<div class="box">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="https://cdnjs.cloudflare.com/ajax/libs/browser-logos/46.1.0/<%= user_session.browser.name.downcase %>/<%= user_session.browser.name.downcase %>_64x64.png" alt="<%= user_session.browser.name %>" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
        <strong><%= user_session.ip %></strong> <small><%= user_session.browser.name %></small> <small><%= local_time_ago(user_session.accessed_at) %></small>
        <br />
        <%= user_session.user_agent %>
        </p>
      </div>
      <nav class="level">
        <div class="level-left">
          <%= link_to my_session_path(user_session.to_param), class: 'level-item', method: :delete, data: { remote: true, disable_with: t('loading') } do %>
            <span class="icon is-small">
              <i class="fas fa-trash" aria-hidden="true"></i>
            </span>
          <% end %>
        </div>
      </nav>
    </div>
  </article>
</div>
