<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to t(".proof"), my_dashboard_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to t(".home"), my_dashboard_path, class: 'nav-item nav-link active' %>
        <%= link_to t(".clients"), my_clients_path, class: 'nav-item nav-link' %>
        <%= link_to t(".mfa"), my_mfa_path, class: 'nav-item nav-link' %>
        <%= link_to t(".sessions"), my_sessions_path, class: 'nav-item nav-link' %>
        <%= button_to t(".logout"), session_path, method: :delete, class: 'nav-item nav-link' %>
      </div>
    </div>
  </nav>
</div>
