<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>

    <%= javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>
  <body class="<%= body_class %>">
    <div class="container" data-controller="content-loader" data-content-loader-url="<%= session_path %>"></div>
    <%= render partial: 'flash' %>
    <%= yield %>
  </body>
</html>
